.scroll-button {
  position: fixed;
  bottom: 2rem;
  right: 2rem;
  width: 50px;
  height: 50px;
  color: #e404e4;
  background-color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1.2rem;
  transition: all 0.5s ease;
  opacity: 1;
}

.scroll-button.invisible {
  bottom: -60px;
  opacity: 0;
}


@media (max-width: 768px) {
  .scroll-button{
    width: 40px;
    height: 40px;
    bottom: 1rem;
  right: 1rem;
  }
}

@media screen and (min-width: 768px) and (max-width: 1280px) {
    .hero-container h1 {
    font-size: 4rem;
  }

  .hero-container h2 {
    font-size: 1.5rem;
    letter-spacing: 0.4rem;
  }

  .hero-clients {
    opacity: 0.8;
  }
  .hero-clients p{
    font-size: 1rem;
  }
}