@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");

.hero {
  background: linear-gradient(
      #030303c1 5%,
      #0303036a,
      #16102032,
      #614155ba 70%,
      rgb(26, 25, 29)
    ),
    url(./../../assets/background-hero.webp);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  min-height: 100vh;
  margin-top: -90px;
  min-height: 100vh;
  overflow: hidden;
}
.hero-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.hero-container h1 {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 10rem;
  text-transform: uppercase;
  color: white;
}
.hero-container h2 {
  font-family: "Poppins", sans-serif;
  font-size: 1.2rem;
  letter-spacing: 0.6rem;
  text-transform: uppercase;
  color: white;
  text-align: center;
}

/* Globe Styling */
.floating-globe {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background-color: #e69b2b;
  transform: translateY(-100%);

  /* Lightning effect  */
  box-shadow: inset 0 0 30px 0 #fff, inset 20px 0 30px #ffd400,
    inset -20px 0 30px red, inset 20px 0 300px #ff40d6,
    inset -20px 0 300px #e3ff4b, 0 0 50px #fff, -10px 0 100px #fbff00,
    10px 0 80px #f55;

  /* Animation  */
  animation: float 3.5s ease-in-out infinite;
}

@keyframes float {
  0% {
    transform: translateY(-100%);
  }

  50% {
    transform: translateY(-60%);
  }

  100% {
    transform: translateY(-100%);
  }
}

/* CTA  */
.cta-btn {
  margin-top: 3rem;
  display: inline-block;
  background: black;
  color: white;
  text-decoration: none;
  padding: 0.8rem 1.5rem;
  border-radius: 4px;
  font-size: 1rem;
  font-weight: 600;
  transition: all 0.2s ease;
}

.cta-btn:hover {
  background: white;
  color: black;
  transform: scale(1.05);
}

@media (max-width: 768px) {
  .hero-container h1 {
    font-size: 2rem;
  }

  .hero-container h2 {
    font-size: 1rem;
    letter-spacing: 0.2rem;
  }

  .cta-btn {
  padding: 0.6rem 1.1rem;
  font-size: 0.8rem;
  font-weight: 600;
}

  
}

@media screen and (min-width: 768px) and (max-width: 1280px) {
    .hero-container h1 {
    font-size: 4rem;
  }

  .hero-container h2 {
    font-size: 1.5rem;
    letter-spacing: 0.4rem;
  }

    .cta-btn {
  padding: 0.7rem 1.3rem;
  font-size: 0.9rem;
  font-weight: 600;
}

  
}
@media screen and (min-width: 1281px) and (max-width: 1600px) {
    .hero-container h1 {
    font-size: 6rem;
  }

  .hero-container h2 {
    font-size: 2.5rem;
    letter-spacing: 0.4rem;
  }

  
}
