.skills{
    display: flex;
    flex-direction: column;
    
    justify-content: center;
    align-items: center;
    gap: 3rem;
}



.skills-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    flex-direction: row;
    gap: 1.2rem;
}

.skill-item{
    border: solid 1px rgba(255, 254, 254, 0.662);
    padding: 2rem;
    display: flex;
    flex-direction: column;
    gap: 2.5rem;

    transition: all 0.2s ease;
    cursor: default;
}

.skill-item:nth-child(4), /* Selects ONLY the 4th element */
.skill-item:nth-child(5)  /* Selects ONLY the 5th element */
{
  transform: translateX(50%);
}



.skill-header{
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    gap: 1rem;
  margin-left: -1rem;

}


.skill-title{
  font-size: 1.6rem;
  font-weight: 900;
}

.skill-description{
  font-size: 1.2rem;
  font-weight: 600;
  border-left: solid rgba(203, 201, 201, 0.247) 3px;
  padding-left:24px ;
  position: relative;
}

.skill-description::before{
  content: "<h3>";
  color: rgba(203, 201, 201, 0.247);
  font-size: 1rem;
  position: absolute;
  top: 0;
  left: 0;
  transform: translateX(-50%) translateY(-100%);
}

.skill-description::after{
  content: "</h3>";
  color: rgba(203, 201, 201, 0.247);
  font-size: 1rem;

  position: absolute;
  bottom: 0;
  left: 0;
  transform: translateX(-50%) translateY(100%);
}

.skill-logo {
  width: 50px;
  height: 50px;
  object-fit: contain;
}



@media (max-width:768px) {
  .skills-container{
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
}

.skill-item:nth-child(4), /* Selects ONLY the 4th element */
.skill-item:nth-child(5)  /* Selects ONLY the 5th element */
{
  transform: translateX(0);
}
}