.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  color: white;
  height: 80px;
  z-index: 100;
}


.brand-logo {
  font-size: 2.2rem;
  font-weight: bold;
  letter-spacing: 1px;
  color: #1bdfed; /* light blue */

}

.brand-logo span:nth-child(1){
  color: white;
}
.brand-logo span:nth-child(2){
  color: rgb(228, 4, 228);
}

.header-nav ul {
  list-style: none;
  display: flex;
  gap: 2.5rem;
  margin: 0;
  padding: 0;
  counter-reset: menu-item;
}

.header-nav a {
  color: rgb(255, 255, 255);
  text-decoration: none;
  font-weight: 500;
  transition: color 0.2s;
  font-size: 1.1rem;
}

.header-nav-item::after{
  content:"0" counter(menu-item) ;
  font-size: 0.6rem;
  position: absolute;
  top: -0.5rem;
  right: 0;

}

.header-nav a:hover, .header-nav a:hover header-nav-item::after {
  color: #1bdfed; /* light blue */
  font-weight: 900;
}

.header-nav-item{
  counter-increment: menu-item;
  position:relative
}




@media (max-width: 600px) {
  .header-nav ul {
    flex-direction: column;
    gap: 0.5rem;
  }
}
