.experience h2 {
  text-align: center;
}

.flex-container-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

/* Professional Experience  */
.professional-experience {
  max-width: 50vw;
  padding: 1.4rem;
}

/* Mobile */
@media (max-width: 767px) {
  .professional-experience {
    max-width: 90vw;
  }
}

/* Medium screen */

@media screen and (min-width: 768px) and (max-width: 1280px) {
  .professional-experience {
    min-width: 80vw;
  }
}
@media screen and (min-width: 1281px) and (max-width: 1600px) {
  .professional-experience {
    min-width: 60vw;
  }
}
