@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");

:root {
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
      background-color: rgb(26, 25, 29);


  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
    --neon-color: #00e5ff; /* Cyan */
  --border-size: 4px;
  --animation-speed: 4s;
}

* {
  font-family: "Roboto Mono", Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  min-height: 100vh;
  height: 100%;
}


.hidden-element {
  visibility: hidden;
}
#root {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

section{
  padding: 2rem 20%;
}

h2{
  /* The size you had: font-size: 6rem; (Too large for small screens) */
  
  /* The fluid solution: */
  font-size: clamp(2.5rem, 5vw + 1rem, 6rem);
}

div.hero {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media (max-width:767px) {
  section{
  padding: 2rem 2rem ;
}
}
@media screen and (min-width:768px) and (max-width:1280px){
    section{
  padding: 4rem ;
}
}
@media screen and (min-width:1281px) and (max-width:1400px){
    section{
  padding: 6rem ;
}
}
@media screen and (min-width:1401px) and (max-width:2000px){
    section{
  padding: 8rem ;
}
}



/* @keyframes appear{
  from{
    opacity: O;
    scale: 0.5;
  }
  to {
    opacity: 1;
    scale: 1;
  }
}

section{
  animation: appear 1s linear;
  animation-timeline: view();
} */

/* Remove after  */
/* section:last-of-type{
  margin-bottom: 400px;

} */



